*,
*::after,
*::before {
  box-sizing: border-box;
}
:root{
  --font-general: 'Manrope', sans-serif;
}
body{
  margin: 0;
  background-color: #202733;
  font-family: var(--font-general);
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main__title{
  text-align: center;
  color: white;
  font-size: 3rem;
}
.main__title--subtitle{
  font-size: 1.5rem;
  color: white;
}